textarea {
    background-color:   #282C34;
    color:              #ABB2BF;

    border:             0;
    outline:            none;
    resize:             none;
    overflow:           hidden;

    width:              100%;
    padding:            20px;

    overflow-y:         auto;
}
