textarea {
    font-family:        'Hind Siliguri', sans-serif;
    font-size:          15px;

    padding:            15px;
    height:             415px;

    background-color:   #282C34;
    color:              #ABB2BF;

    border:             0;
    outline:            none;
    resize:             none;
    overflow:           scroll;

    width:              100%;

    cursor:             text;
}
