<div class="commands">
    <div class="commands-group">
        <button>H1</button>
        <button>H2</button>
        <button>H3</button>
    </div>

    <div class="commands-group">
        <button><span class="note-bold"></span></button>
        <button><span class="note-italic"></span></button>
    </div>

    <div class="commands-group">
        <button><span class="note-list-numbered"></span></button>
        <button><span class="note-list"></span></button>
    </div>

    <div class="commands-group">
        <button><span class="note-embed"></span></button>
        <button><span class="note-link"></span></button>
        <button><span class="note-image"></span></button>
    </div>
</div>
